a:visited {text-decoration: none; color: #666666};
a:hover {text-decoration: underline overline; color: #000099};
a:active {text-decoration: underline overline; color: #666666};


table.tabMensagens {
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#CCD6EA',gradientType='0');
}
table.tabForm {
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CCD6EA',endColorStr='#FFFFFF',gradientType='0');
}
.campos {
    background-image: -moz-linear-gradient(54% 79% 90deg, #CCD6EA 36%, #ffffff 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#CCD6EA), to(#ffffff), color-stop(.4,#CCD6EA));
    background-color: #CCD6EA;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CCD6EA',endColorStr='#ffffff',gradientType='1');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #000000;
    margin-right: 20px;
    border: 1px solid #CCCCCC;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}
.camposObrigatorios {
    background-image: -moz-linear-gradient(54% 79% 90deg, #CCD6EA 36%, #ffffff 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#CCD6EA), to(#ffffff), color-stop(.4,#CCD6EA));
    background-image: #CCD6EA;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CCD6EA',endColorStr='#ffffff',gradientType='1');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #D20000;
	background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    border-bottom-color: #FF0000;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}
.camposObrigatoriosRadiobutton {
    background-color: #CCD6EA;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#CCD6EA',gradientType='1');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #D20000;
}

/*===============================================DEFAULT============================================*/
.tituloCamposReduzidoa:link {
    text-decoration: none;
    color: #666666;

}
.tituloCamposBrancos {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color:  #333333;
    text-align: right;
    text-decoration: underline;
}

.tituloCamposBrancos a:active {
    text-decoration: underline overline;
    color: #666666;
}
.camposSomenteLeituraReduzido {
    background-color: #DBDBDB;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CCCCCC',endColorStr='#999999',gradientType='0');
    font: 9px verdana, arial, helvetica, sans-serif;
    color: #D20000;
    margin-right: 20px;
    border: 1px solid #CCCCCC;
}
.tituloFormulario {
    font: 12pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: right;
}

table.menuAlunoRoxo {
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#000000',endColorStr='#FFFFFF',gradientType='0');
}
.botoesConsulta{
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#FFFFFF',gradientType='0');
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    margin-right: 0px;
    border: 0px;
}
.botoesDownload {
    background-color: #E7E6F3;
    width: 85px;
    height: 18px;
}
.mensagem {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #333333;
    text-align: right;
}
.mensagemDetalhada {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #DF0000;
    text-align: right;
}
.mensagemDetalhadaCentralizado {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #DF0000;
    padding-left:35px;
    text-align: center;
}
.tituloCamposReduzidosNegrito {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: right;
    font-weight: bold;

}
.tituloCamposReduzidosNegritoItalicoCinza {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #666666;
    text-align: left;
    font-weight: bold;
    font-style:  italic;
}
.tituloCampos2 {
    font: 8pt 'Trebuchet MS', verdana;
    color: #000000;
}
.tituloCamposQuestionarioRespondido {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    width: 100%;
    font-weight: bold;
    text-align: left;
    background-color: #D3F5BC !important;
}
.tituloCamposQuestionarioNaoRespondido {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    width: 100%;
    font-weight: bold;
    text-align: left;
    background-color: #E9ECE8 !important;
}
.tituloAviso {
    font: 13pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: right;
}
.tituloCamposEsquerda {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: left;
}
.tituloCamposRecados {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: left;
}
.rich-table-cell {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: left;
}
.tituloCamposRadioBox {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: left;
}
.tituloCampos {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: right;
}
.tituloCamposNegrito {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: right;
    font-weight: bold;
}
.tituloCamposNegritoEsquerda {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: left;
    font-weight: bold;
}
.tituloCamposEspecial {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #666666;
    text-align: right;
    font-weight: bold;
}
.tituloCamposReduzidos {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: right;
}
.tituloCamposReduzidosCinza {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #666666;
    text-align: right;
}
.tituloCamposReduzidosCinzaItalico {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #666666;
    font-style:italic;
    text-align: right;
}
.tituloCamposPainelGestor {
    font: 12pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #999999;
    text-align: right;
    font-weight: bold;
}
.imagens {
    background-color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
}
.camposReduzidos {
    background-image: -moz-linear-gradient(54% 79% 90deg, #F6F4FA 36%, #ffffff 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#F6F4FA), to(#ffffff), color-stop(.4,#F6F4FA));
    background-color: #F6F4FA;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F6F4FA',endColorStr='#ffffff',gradientType='1');
    font: 8px verdana, arial, helvetica, sans-serif;
    color: #000000;
    border: 1px solid #CCCCCC;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}
.camposReduzidosVisaoProfessor {
    background-color: #F6F4FA;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F6F4FA',endColorStr='#ffffff',gradientType='1');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #000000;
    padding: 0;
}
.campoRed {
    background-color: #FF3333;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF0000',endColorStr='#ffffff',gradientType='1');
    font: 8px verdana, arial, helvetica, sans-serif;
    color: #FF3333;
    margin-right: 20px;
    border: 1px solid #FF0000;
}
.campoBlue {
    background-color: #3399FF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3399FF',endColorStr='#ffffff',gradientType='1');
    font: 8px verdana, arial, helvetica, sans-serif;
    color: #3399FF;
    margin-right: 20px;
    border: 1px solid #3399FF;
}
.campoGreen {
    background-color: #00CC66;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#00CC66',endColorStr='#ffffff',gradientType='1');
    font: 8px verdana, arial, helvetica, sans-serif;
    color: #00CC66;
    margin-right: 20px;
    border: 1px solid #00CC66;
}
.campoCinza {
    background-color: #999999;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#999999',endColorStr='#ffffff',gradientType='1');
    font: 8px verdana, arial, helvetica, sans-serif;
    color: #999999;
    margin-right: 20px;
    border: 1px solid #999999;
}
.campoRoxo {
    background-color: #A282CC;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#A282CC',endColorStr='#ffffff',gradientType='1');
    font: 8px verdana, arial, helvetica, sans-serif;
    color: #A282CC;
    margin-right: 20px;
    border: 1px solid #A282CC;
}
.camposObrigatoriosCandidato {
    background-image: #EEEEEE;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#EEEEEE',endColorStr='#ffffff',gradientType='1');
    background-image: -moz-linear-gradient(54% 79% 90deg, #EEEEEE 36%, #ffffff 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#EEEEEE), to(#ffffff), color-stop(.4,#EEEEEE));
    background-color: #FFF4F4;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFF4F4',endColorStr='#ffffff',gradientType='1');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #C46F6F;
    border: 1px solid #CCCCCC;
    border-bottom-color: #C46F6F;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}
.camposCinza {
    background-image: -moz-linear-gradient(54% 79% 90deg, #CCCCCC 36%, #CCCCCC 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#CCCCCC), to(#CCCCCC), color-stop(.4,#CCCCCC));
    background-color: #cccccc;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#cccccc',endColorStr='#CCCCCC',gradientType='0');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #333333;
    border: 1px solid #CCCCCC;
}
.camposObrigatoriosCinza {
    background-image: -moz-linear-gradient(54% 79% 90deg, #E0E0E0 36%, #E0E0E0 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#E0E0E0), to(#E0E0E0), color-stop(.4,#E0E0E0));
    background-color: #E0E0E0;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E0E0E0',endColorStr='#E0E0E0',gradientType='0');
    font: 11px verdana, arial, helvetica, sans-serif;
    /*    color: #D20000;*/
    color: #C46F6F;
    border: 1px solid #E0E0E0;
    /*    border-bottom-color: #FF0000;*/
    border-bottom-color: #C46F6F;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}
.camposLogin {
    background-image: -moz-linear-gradient(54% 79% 90deg, #CCCCCC 36%, #CCCCCC 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#CCCCCC), to(#CCCCCC), color-stop(.4,#CCCCCC));
    background-color: #cccccc;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#cccccc',endColorStr='#CCCCCC',gradientType='0');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #333333;
    margin-right: 20px;
    border: 1px solid #CCCCCC;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}

.camposSomenteLeitura {
    background-image: -moz-linear-gradient(54% 79% 90deg, #CCCCCC 36%, #CCCCCC 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#CCCCCC), to(#CCCCCC), color-stop(.4,#CCCCCC));
    background-color: #CCCCCC;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CCCCCC',endColorStr='#CCCCCC',gradientType='0');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #333333;
    margin-right: 20px;
    border: 1px solid #CCCCCC;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}
.camposSomenteLeituraObrigatorio {
    background-image: -moz-linear-gradient(54% 79% 90deg, #E0E0E0 36%, #E0E0E0 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#E0E0E0), to(#E0E0E0), color-stop(.4,#E0E0E0));
    background-color: #E0E0E0;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E0E0E0',endColorStr='#E0E0E0',gradientType='0');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #333333;
    margin-right: 20px;
    border: 1px solid #E0E0E0;
    border-bottom-color: #C46F6F;
    /*    border-bottom-color: #FF0000;*/
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}

.camposSomenteLeituraFichaAluno {
    background-image: -moz-linear-gradient(54% 79% 90deg, #E0E0E0 36%, #E0E0E0 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#E0E0E0), to(#E0E0E0), color-stop(.4,#E0E0E0));
    background-color: #E0E0E0;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E0E0E0',endColorStr='#E0E0E0',gradientType='0');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #D20000;
    margin-right: 20px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
}

.camposSomenteLeituraReduzido {
    background-image: -moz-linear-gradient(54% 79% 90deg, #E0E0E0 36%, #E0E0E0 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#E0E0E0), to(#E0E0E0), color-stop(.4,#E0E0E0));
    background-color: #E0E0E0;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E0E0E0',endColorStr='#999999',gradientType='0');
    font: 9px verdana, arial, helvetica, sans-serif;
    color: #D20000;
    margin-right: 20px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
}
table.tabFormAlerta {
    background-color: #FED7D6;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FED7D6',endColorStr='#FFFFFF',gradientType='0');
}
table.tabFormCinza {
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#D7D7D7',gradientType='0');
}
table.tabFormRichPanel {
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#E6E6E6',gradientType='0');
}
table.tabTituloFormSubordinada {
    background-color: #E6E6E6;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E6E6E6',endColorStr='#FFFFFF',gradientType='0');
    font: 08pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
}
table.tabmenu {
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E6E6E6',endColorStr='#FFFFFF',gradientType='0');
}
table.tabitemtitulomenu {
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#CCCCCC',gradientType='0');
    color: #333333;

    border: 0;
    border-collapse: collapse;
    padding: 0;

    font-size: 8pt;
    font-weight: bold;
    font-family: verdana;
}
table.tabitemtitulomenuhovered {
    background-color: #cedfff;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#C8C8C8',endColorStr='#FFFFFF',gradientType='0');
    color: #333333;

    border: 0;
    border-collapse: collapse;
    padding: 0;

    font-size: 8pt;
    font-weight: bold;
    font-family: verdana;
}
table.tabitemmenu {
    background-color: #DBDBDB;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#FFFFFF',gradientType='1');

    border: 0;
    border-collapse: collapse;
    padding: 0;

    font-size: 8pt;
    font-family: verdana;
}
table.tabitemmenuhovered {
    background-color: #DBDBDB;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#C8C8C8',gradientType='1');

    border: 0;
    border-collapse: collapse;
    padding: 0;

    font-size: 8pt;
    font-family: verdana;
}
th {
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#999999',endColorStr='#FFFFFF',gradientType='0');
    text-align: center;
    font-family: 'Trebuchet MS', verdana;
    border: 1px solid #EFEFEF;
    font-size: 10pt;
    font-weight: bold;
}
th.consulta {
    background-color: #CCCCCC;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#E2CF74',gradientType='0');
    font-size: 8pt;
    font-weight: bold;
}

th.consultaRoxo {
    background-color: #E1C4FF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#E1C4FF',gradientType='0');
    text-align: center;
    font-family: 'Trebuchet MS', verdana;
    border: 1px solid #EFEFEF;
    font-size: 8pt;
    font-weight: bold;
}
th.consultaRoxoForte {
    background-color: #D5AAFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#D5AAFF',gradientType='0');
    font-size: 10pt;
    font-weight: bold;
}
th.topoGrid {
    background-color: #84C1E6;
    filter: progid : DXImageTransform.Microsoft.Gradient ( startColorStr =
        '#FFFFFF', endColorStr = '#84C1E6', gradientType = '0' );
    font-size: 8pt;
    font-weight: bold;
}
th.subordinado {
    background-color: #CCCCCC;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#E2CF74',gradientType='0');
    font-size: 8pt;
    font-weight: bold;
}
th.subordinadoTeste {
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#FFFFFF',gradientType='0');
    font-size: 8pt;
    font-weight: bold;
}
tr.linhaImpar {
    font-size: 8pt;
    font-family: 'Trebuchet MS', verdana;
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#FFFFFF',gradientType='0');
}
tr.linhaImparSubordinado {
    font-size: 8pt;
    font-family: 'Trebuchet MS', verdana;
    background-color: #FFFFFF;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#FFFFFF',gradientType='0');
}
tr.linhaBranco {
    font-size: 8pt;
    font-family: 'Trebuchet MS', verdana;
    text-align: center;
    color: #000000;
}
tr.menu {
    background-color: #E6E6E6;
    font-size: 8pt;
    font-family: 'Trebuchet MS', verdana;
    border: 1px solid #000000;
}
tr.itemMenu {
    background-color: #FFFFFF;
    font-size: 8pt;
    font-family: 'Trebuchet MS', verdana;
    border: 1px solid #000000;
}
table.tabTituloForm {
    background-color: #CCCCCC;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#CCCCCC',gradientType='0');
    color: #333333;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', verdana;
}
input {
    background-color: #DBDBDB;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CCCCCC',endColorStr='#ffffff',gradientType='1');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #000000;
    margin-right: 20px;
    border: 1px solid #CCCCCC;
}
.botao{
    background-color: #CCCCCC;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#A282CC',endColorStr='#ffffff',gradientType='1');
    font: 10px verdana, arial, helvetica, sans-serif;
    color: #333333;
    text-align: center;
    margin-right: 0px;
    border: 0px solid;
    width: 80px;
    height: 20px;
}
.botaoTransparente{
    background-color: transparent;
    font: 10px verdana, arial, helvetica, sans-serif;
    color: #333333;
    text-align: center;
    margin-right: 0px;
    border: 0px solid;
}
.tituloCamposPainelGestor {
    font: 12pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #999999;
    text-align: right;
    font-weight: bold;
}
.tituloCamposGrandeCinzaClaro {
    font: 12pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #DBDBDB;
    text-align: center;
    font-weight: bold;
}
.colunaImparVerticalmenteCentralizada {
    font-size: 8pt;
    vertical-align: middle;
    text-align:center;
    font-family: 'Trebuchet MS', verdana;
    font-weight: bold;
    background-color: #E6E6E6;
}

.rodapeTabelaCentralizada {
    text-align:center;
    background-color: #E6E6E6;
}
.rodapeTabelaEsquerda {
    text-align:left;
    background-color: #E6E6E6;
}
.rodapeTabelaDireita {
    text-align:right;
    background-color: #E6E6E6;
}
.topoVisao{
    background-image: url('../imagens/visao/topoVisao.png');
    width:980px;
    height:120px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
}
.conteudo{
    width:980px;
    height:120px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    margin-top: 5px;
}
.menuVisao{
    background-image: url('../imagens/visao/topoMenuVisao.png');
    background-repeat: no-repeat;
    float: left;
    width:160px;
    height: 600px;
    vertical-align: top;

    text-align: center;
}
.conteudoVisao{
    background-image: url('../imagens/visao/fundoConteudo.png');
    background-repeat: no-repeat;
    width:820px;
    height: 600px;
    float: left;
    vertical-align: top;
    text-align: center;
}

.menuCentral{
    width:645px;
    height: 600px;
    text-align: center;
    float: left;
    margin-top: 1px;
    background-repeat: no-repeat;
}

.menuCentralTelasConteudo{
    width:645px;
    height: 600px;
    text-align: center;
    float: left;
    margin-top: 1px;
    background-repeat: no-repeat;
}

.menuCentralVisao{
    background-image: url('../imagens/visao/fundoMenuCentral.png');
    width:188px;
    height: 188px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 20px;
}

.menuItens{
    width: 94%;
    margin-top: 10px;
    margin-left: 5px;
    background-image: url('../imagens/visao/lateralMenuVisao.png');
    background-repeat: repeat-y;
    background-position: right;
}

.rodapeMenuVisao{
    float: left;
    width: 100%;
    margin-left: 0px;
    background-image: url('../imagens/visao/rodapeMenuVisao.png');
    background-repeat: no-repeat;
}



.noticiaVisao{
    background-image: url('../imagens/visao/fundoNoticia.png');
    margin-top: 30px;
    margin-right: 7px;
    width:162px;
    height: 390px;
    text-align: center;
    float: left;
    background-repeat: no-repeat;
}


.tituloMenuVisaoCentral{
    font: 12pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #999999;
    text-align: center;

}
.tituloMenuVisao{
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #999999;
    text-align: center;
}
.menuItemVisao{
    border-top:0px;
    margin-top:5px;
    color: #333333;
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
}
.destinatario{
    border-top:0px;
    color: #999999;
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
}
.inputTransparent{
    border-top:0px;
    background-color: transparent;
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
}

.menuRedesSociais{
    width:150px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    height: 30px;
}

.noticias{
    width:150px;
    height: 130px;
    text-align: center;
    margin-top: 10px;
}

.separator{
    background-color:#CCCCCC;
    margin-left:10px;
    margin-right: 10px;
    height:1px;
    width:88%;
}
.boasVindasTopo{
    width: 650px;
    height: 110px;
    float: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

.fotoTopo{
    height: 110px;
    width: 90px;
    height: 100px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}
.topoVisaoCandidato{
    background-image: url('../imagens/HomeCandidato/topoVisaoCandidato.png');
    width:980px;
    height:120px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
}
.conteudoCandidato{
    width:990px;
    height:600px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    margin-top: 5px;
}

.conteudoVisaoCandidato{
    background-image: url('../imagens/HomeCandidato/fundoConteudoCandidato.png');
    background-repeat: no-repeat;
    width:985px;
    height: 600px;
    float: left;
    vertical-align: top;
    text-align: center;
}
.menuCentralCandidato{
    width:700px;
    height: 600px;
    text-align: center;
    float: left;
    margin-top: 1px;
    background-repeat: no-repeat;
}
.menuCentralVisaoCandidato{
    background-image: url('../imagens/visao/fundoMenuCentral.png');
    width:200px;
    height: 188px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 30px;
}
.menuCentralVisaoCandidato2{
    background-image: url('../imagens/visao/fundoMenuCentral.png');
    width:200px;
    height: 188px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 110px;
}
.noticiaVisaoCandidato{
    background-image: url('../imagens/visao/fundoNoticia.png');
    margin-top: 30px;
    margin-right: 20px;
    width:162px;
    height: 390px;
    text-align: center;
    float: right;
    background-repeat: no-repeat;
}
.tituloCamposReduzidosNegritoItalicoCinza {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #666666;
    text-align: left;
    font-weight: bold;
    font-style:  italic;
}
.rodapeVisaoCandidato{
    background-image: url('../imagens/HomeCandidato/rodapeVisaoCandidato.png');
    width:980px;
    height:125px;
    margin: 0 auto;
    text-align: center;
    float: left;
    background-position: center;
}
.hoverMenuVisao{
    background-color:#F3F3F3;
}

/*CORES DAQUI PARA CIMA*/

.transparente{
    visibility: hidden;
}
#pagina{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.logoTopo{
    float: left;
    width: 40px;
}
.w50 {
    width: 400;
}
.w8 {
    width: 8%;
}
.w35 {
    width: 350px;
}
.w40 {
    width: 40%;
}
.dr-mpnl-pnl {
    overflow:auto!important
}
.w20 {
    width: 20%;
}
.w25 {
    width: 25%;
}
.w10 {
    width: 10%;
}
.w15 {
    width: 15%;
}
.w25 {
	width: 25%;
}
.w100{
    width: 100%;
}
.w75 {
	width: 75%;
}
.w85 {
	width: 85%;
}
.w90 {
	width: 90%;
}
.w95 {
    width: 95%;
}
.w60 {
    width: 60%;
}

body {
    margin-left: 0;
    margin-top: 0;
}

.rich-calendar-button {
    position: relative;
    left: -20px;
}

.horarioLivre {
    font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: green;
    font-weight: bold;
    text-align: center;
}

.horarioFeriado {
    font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: blue;
    font-weight: bold;
    text-align: center;
}

.horarioOcupado {
    font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: red;
    font-weight: bold;
    text-align: center;
}

.horarioRegistroLancado {
    font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: goldenrod;
    font-weight: bold;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}
.alinhaModelado{
    margin-left: 120px;
    margin-top: 200px ;
}
.richPanel {
    border-spacing: 2px 2px
}
.fundoHomeAluno{
    background-image: url('./imagens/fundoRoxo.png');
}
.botoesMargin2 {
    border: 0px;
    margin: 2px;
}
.botoes{
    border: 0px;
    top: 10;
}
.botaoTrans {
    background-color: transparent;
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    margin-right: 0px;
    border: 0px;
}

.botaoExcluir{
    border: 0px;
    top: 10;
}

.rich-stglpanel-header {
    background: none;
}
.mascara {
    float: left;
    width: 100px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    position: relative;
    *height: 100px;
}
td {
    vertical-align: top;
    text-align: left;
}
td.colunaCentralizada {
    vertical-align: top;
    text-align: center;
}
td.colunaEsquerda {
    vertical-align: top;
    text-align: left;
}
td.colunaDireita {
    vertical-align: top;
    text-align: rigth;
}
table.tabFormPainelGestor {
    vertical-align: top;
}
tr.linhaPar {
    font-size: 8pt;
    font-family: 'Trebuchet MS', verdana;
}
tr.linhaParSubordinado {
    font-size: 8pt;
    font-family: 'Trebuchet MS', verdana;
}
td.colunaAlinhamento {
    text-align: center;
}
.middle {
    vertical-align: middle;
    float: left;
}
.apresentarImagem {
    border: 0px;
}
.dataGrid {
    height: 75px;
    width: 900px;
    padding: 20px;
}
.alinhaModeladoLeft{
    width: 150px;
    text-align: left;
}
.alinhaModeladoRight{
    width: 50px;
    text-align: left;
}
.semBorda{
    border: none;
}
.aceitaEspacosBranco {
    white-space: pre;
}
.semBordaSemMargin{
    border: none;
    margin: 0px;
    padding: 0px;
}
.fixoEsquerda{
    position: relative;
    text-align: left;
}
.topoVisaoBancoCurriculos{
    background-image: url('../imagens/HomeBancoCurriculos/topoVisaoBancoCurriculos.png');
    width:980px;
    height:120px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
}
.rodapeVisaoBancoCurriculos{
    background-image: url('../imagens/HomeBancoCurriculos/rodapeVisaoBancoCurriculos.png');
    width:980px;
    height:125px;
    margin: 0 auto;
    text-align: center;
    float: left;
    background-position: center;
}
.conteudoBancoCurriculos{
    width:990px;
    height:600px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    margin-top: 5px;
}

.conteudoVisaoBancoCurriculos{
    background-image: url('../imagens/HomeBancoCurriculos/fundoConteudoBancoCurriculos.png');
    background-repeat: no-repeat;
    width:985px;
    height: 600px;
    float: left;
    vertical-align: top;
    text-align: center;
}
.menuCentralBancoCurriculos{
    width:700px;
    height: 600px;
    text-align: center;
    float: left;
    margin-top: 1px;
    background-repeat: no-repeat;
}
.menuCentralVisaoBancoCurriculos{
    background-image: url('../imagens/visao/fundoMenuCentral.png');
    width:200px;
    height: 188px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 30px;
}
.menuCentralVisaoBancoCurriculos2{
    background-image: url('../imagens/visao/fundoMenuCentral.png');
    width:200px;
    height: 188px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 110px;
}
.noticiaVisaoBancoCurriculos{
    background-image: url('../imagens/visao/fundoNoticia.png');
    margin-top: 30px;
    margin-right: 20px;
    width:162px;
    height: 390px;
    text-align: center;
    float: right;
    background-repeat: no-repeat;
}
.tituloCamposReduzidosNegritoRed {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #FF3333;
    text-align: right;
    font-weight: bold;
}


.columnSubtable{
	padding:0px;
	border:none;
}

tfooter.semBorda{
    border: none;
}

.textoRed {
    background-color: #FF3333;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FF0000',endColorStr='#ffffff',gradientType='1')!important;
    font: 8px verdana, arial, helvetica, sans-serif!important;
    color: #FF3333!important;
    margin-right: 20px!important;
}

.textoBlue {
    color: #3399FF!important;
}

.textoGreen {
    background-color: #00CC66;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#00CC66',endColorStr='#ffffff',gradientType='1');
    font: 8px verdana, arial, helvetica, sans-serif;
    color: #00CC66;
    margin-right: 20px;
    border: 1px solid #00CC66;
}

.campos:disabled {
 background-image: -moz-linear-gradient(54% 79% 90deg, #CCCCCC 36%, #CCCCCC 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#CCCCCC), to(#CCCCCC), color-stop(.4,#CCCCCC));
    background-color: #CCCCCC;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CCCCCC',endColorStr='#CCCCCC',gradientType='0');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #333333;
    margin-right: 20px;
    border: 1px solid #CCCCCC;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;	
}